html {
  color: #31ee14;
  background-color: #0e0e0e;
  font-family: 'Courier New', serif !important;
}

.main-container {
  border: 1px #eeeeee solid;
  padding: 10px;
  margin-top: 5px;
  overflow: auto;
  min-height: 500px;
}

nav {
  border: 1px #eeeeee solid;
  padding: 5px 10px;
  height: 30px;
}

nav .logo {
  width: 15%;
  float: left;
  padding-top: 3px;
  font-weight: bold;
  font-size: 20px;
}

nav .links {
  width: 20%;
  float: left;
  padding-top: 5px;
}

nav .links a {
  margin-right: 10px;
}

nav .account {
  width: 25%;
  float: right;
  font-size: 10px;
  text-align: right;
}

nav .account p {
  margin-bottom: 0
}

a {
  color: #31ee14 !important;
  text-decoration: underline;
}

table {
  border-spacing: 14px;
  font-size: 12px
}

table thead tr th {
  border-bottom: 1px #8eee83 solid;
}

.error {
  color: #eeeeee;
  padding: 1px;
  background-color: darkred;
}

.error p {
  text-align: center;
}

.error .close {
  float: right;
  margin-top: -15px;
  margin-right: 5px;
  cursor: pointer;
}

.home .balances, .home .config {
  width: 50%;
  float: left;
  font-size: 15px;
}

#emailsForm {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
}
#emailsForm label {
  display: block;
  padding-top: 10px;
  font-weight: bold;
}
#emailsForm input[type=text], #emailsForm textarea {
  width: 97%;
}
#emailsForm button {
  margin-top: 10px;
}
#emailsForm #emailLogs {
  margin-top: 10px;
}
